@font-face {
    font-family: 'TT Interfaces';
    src: url('fonts/tt_interfaces/TTInterfaces-Regular.eot');
    src: local('fonts/tt_interfaces/TT Interfaces Regular'), local('TTInterfaces-Regular'),
        url('fonts/tt_interfaces/TTInterfaces-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/tt_interfaces/TTInterfaces-Regular.woff2') format('woff2'),
        url('fonts/tt_interfaces/TTInterfaces-Regular.woff') format('woff'),
        url('fonts/tt_interfaces/TTInterfaces-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Interfaces';
    src: url('fonts/tt_interfaces/TTInterfaces-SemiBold.eot');
    src: local('fonts/tt_interfaces/TT Interfaces SemiBold'), local('TTInterfaces-SemiBold'),
        url('fonts/tt_interfaces/TTInterfaces-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('fonts/tt_interfaces/TTInterfaces-SemiBold.woff2') format('woff2'),
        url('fonts/tt_interfaces/TTInterfaces-SemiBold.woff') format('woff'),
        url('fonts/tt_interfaces/TTInterfaces-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Interfaces';
    src: url('fonts/tt_interfaces/TTInterfaces-Medium.eot');
    src: local('fonts/tt_interfaces/TT Interfaces Medium'), local('TTInterfaces-Medium'),
        url('fonts/tt_interfaces/TTInterfaces-Medium.eot?#iefix') format('embedded-opentype'),
        url('fonts/tt_interfaces/TTInterfaces-Medium.woff2') format('woff2'),
        url('fonts/tt_interfaces/TTInterfaces-Medium.woff') format('woff'),
        url('fonts/tt_interfaces/TTInterfaces-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Interfaces';
    src: url('fonts/tt_interfaces/TTInterfaces-Bold.eot');
    src: local('fonts/tt_interfaces/TT Interfaces Bold'), local('TTInterfaces-Bold'),
        url('fonts/tt_interfaces/TTInterfaces-Bold.eot?#iefix') format('embedded-opentype'),
        url('fonts/tt_interfaces/TTInterfaces-Bold.woff2') format('woff2'),
        url('fonts/tt_interfaces/TTInterfaces-Bold.woff') format('woff'),
        url('fonts/tt_interfaces/TTInterfaces-Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'TT Interfaces';
    src: url('fonts/tt_interfaces/TTInterfaces-Light.eot');
    src: local('fonts/tt_interfaces/TT Interfaces Light'), local('TTInterfaces-Light'),
        url('fonts/tt_interfaces/TTInterfaces-Light.eot?#iefix') format('embedded-opentype'),
        url('fonts/tt_interfaces/TTInterfaces-Light.woff2') format('woff2'),
        url('fonts/tt_interfaces/TTInterfaces-Light.woff') format('woff'),
        url('fonts/tt_interfaces/TTInterfaces-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

button, a {
    cursor: pointer; 
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1208px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    height: 89px;
    justify-content: space-between;
}

.header-link {
    padding-top: 36px;
    padding-bottom: 36px;
    font-family: 'TT Interfaces';
    text-decoration: none;
    color: #1B1B1B;
    font-size: 14px;
}

.header-logo {
    width: 134px;
    height: 156px;
    padding-top: 8px;
}

.test {
    background-color: aquamarine;
    height: 100px;
    width: 100px;
}

.header-phone-number {
    text-align: right;
    padding-top: 24px;
    padding-bottom: 27px;
    font-family: 'TT Interfaces';
    font-weight: 500;
    font-size: 16px;
    color: #1B1B1B;
}

.header-phone-number div {
    font-size: 12px;
    color: #B7B7B7;
    padding-top: 3px;
}

.header-buttons {
    display: flex;
}

.shopping-cart {
    width: 134px;
    height: 48px;
    align-self: center;
    background-color: #F5F5F5;
    border: none;
    margin-right: 24px;
    display: flex;
    justify-content: space-evenly;
    font-family: 'TT Interfaces';
    font-weight: 500;
    font-size: 14px;
}

.shopping-cart *{
    align-self: center;
}

.shopping-cart-hidden {
    align-self: center;
}

.shopping-cart-showed {
    z-index: 10;
    position: fixed;
    right: 371px;
    margin-top: 68px;
    display: none;
    width: 624px;
    
    background: #FFFFFF;
    box-shadow: 0px 8px 40px rgba(0, 0, 0, 0.12);
    border-radius: 0px 0px 24px 24px;
}

.authorization-window {
    z-index: 11;
    position: fixed;
    margin-top: 68px;
    width: 360px;
    height: 285px;
    background: #FFFFFF;
    box-shadow: 0px 12px 32px rgba(0, 0, 0, 0.08);
    border-radius: 24px;
    margin-left: 840px;
    display: none;
}

.authorization-window .close-button {
    background-color: rgba(0, 0, 0, 0);
    border: 0px;
    margin-top: 38px;
    margin-left: 310px;
    margin-bottom: 9px;
}

.authorization-window .authorization-header {
    font-family: 'TT Interfaces';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 25px;
    text-align: center;
    color: #1B1B1B;
    padding-bottom: 24px;
}

.if-cart-is-empty {
    padding-left: 280px;
    padding-top: 52px;
    padding-bottom: 12px;
}

.empty-cart-alert {
    font-family: TT Interfaces;
    font-size: 24px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    color: #1B1B1B;
    padding-left: 200px;
}

.shopping-cart .white-line {
    width: 1px;
    height: 24px;
    background-color: #FFFFFF;
    align-self: center;
}

.profile-button {
    width: 48px;
    height: 48px;
    align-self: center;
    background-color: #F5F5F5;
    border: none;
}

.navbar-categories {
    height: 83px;
    background-color: #F5F5F5;
}

.navbar-categories .phantom-logo {
    width: 134px;
    color: #F5F5F5;
}

.navbar-categories-wrapper {
    max-width: 1208px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
}

.navbar-categories-link {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-family: 'TT Interfaces';
    font-weight: 500;
    font-size: 16px;
    text-decoration: none;
    color: #1B1B1B;

}

.navbar-categories-link img {
    align-self: center;
    padding-bottom: 9px;
    padding-top: 10px;
}

.error-label {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top: 64px;
}

.error-label img {
    padding: 0 2px
}

.error-message {
    font-family: 'TT Interfaces';
    text-align: center;
    padding-top: 42px;
}

.error-message-label {
    font-weight: 500;
    font-size: 36px;
    color: #1B1B1B;
}

.error-message-text {
    font-weight: 400;
    font-size: 20px;
    padding-top: 8px;
    padding-bottom: 24px;
    line-height: 30px;
}

.error-message .button-to-main-page {
    width: 248px;
    height: 52px;
    background-image: url('images/button-background.png');
    background-color: #E07153;
    font-family: 'TT Interfaces';
    font-weight: 700;
    font-size: 16px;
    color: #FFFFFF;
    border: 1px solid #C95C3F;
    border-radius: 2px;
}

.phantom-footer {
    height: 143px;
}

.footer {
    height: 143px;
    background-color: #1B1B1B;
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;

}

.footer-wrapper {
    margin-left: auto;
    margin-right: auto;
    max-width: 1254px;
    display: flex;
}

.footer-logo {
    padding-left: 15px;
    margin-top: -39px;
    margin-bottom: 39px;
    height: 132px;
}

.footer-social-menu {
    padding-top: 35px;
    padding-left: 51px;
}

.footer-social-links {
    font-family: 'TT Interfaces';
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    padding-bottom: 15px;
}

.footer-social-links .mid {
    padding: 0 40px;
}

.footer-social-icons a {
    padding: 16px 0px;
}

.footer-categories-menu {
    padding-left: 89px;
    padding-top: 35px;
    padding-bottom: 54px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 54px;
    justify-content: space-between;
    width: 456px;
}

.footer-categories-menu a {
    font-family: 'TT Interfaces';
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
}

.footer-categories-menu .top {
    padding-bottom: 20px;
}

.footer-contacts {
    padding-left: 10px;
    padding-top: 32px;
}

.footer-contacts .phone-number {
    font-family: 'TT Interfaces';
    font-weight: 700;
    font-size: 24px;
    line-height: 30.36px;
    padding-bottom: 7px;
    color: #FFFFFF;
}

.footer-contacts .time {
    font-family: 'TT Interfaces';
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding-bottom: 20px;
    color: #FFFFFF;
    text-align: right;
    padding-right: 10px;
}

.footer-contacts .rights {
    font-family: 'TT Interfaces';
    font-size: 12px;
    font-weight: 300;
    line-height: 15px;
    color: #FFFFFF;
    padding-left: 26px;
}

.catalog-wrapper {
    max-width: 1226px;
    margin-left: auto;
    margin-right: auto;
}

.menu-directory {
    padding-top: 48px;
    padding-left: 1px;
    padding-bottom: 25px;
    display: flex;
    font-family: 'TT Interfaces';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #1B1B1B;
    text-decoration: none;
}

.menu-directory a {
    color: #1B1B1B;
    text-decoration: none;
}

.menu-directory .separator {
    padding: 0px 8px;
    color: #1B1B1B;
    text-decoration: none;
}

.menu-directory .current-category {
    font-weight: 600;
}

.menu-header {
    font-family: 'TT Interfaces';
    font-weight: 600;
    font-size: 40px;
    line-height: 50px;
    padding-left: 1px;
    padding-bottom: 21px;
}