.by-ingridient {
    display: flex;
}

.by-category {
    display: flex;
}

.menu-filter {
    display: flex;
    justify-content: space-between;
}

.filter .option {
    display: flex;
    align-items: center;
    height: 48px;
    padding: 0px 20px;
    border: 1px solid #E8E8E8;
    border-radius: 8px;
    background-color: rgba(28,28,28,0);
    margin-right: 4px;
    margin-bottom: 4px;
    font-family: 'TT Interfaces';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.order-header {
    font-family: 'TT Interfaces';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color:#B7B7B7;
    padding-top: 27px;
    padding-bottom: 8px;
}

.order select {
    font-family: 'TT Interfaces';
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    width: 298px;
    height: 48px;
    border: 1px solid #E2E1E1;
    border-radius: 8px;
    padding-left: 20px;
    padding-right: 20px;
}

.filter .option img {
    padding-right: 8px;
}

.menu-item-image {

}

