{% block head %}
<title>Рикша</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css', v='1') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
<script src="../static/script.js"></script>
{% endblock %}

{% block navbar %} 
<div class="container">
    <img class="header-logo" src="/static/images/logo.png">
    <a class="header-link" href="/">О нас</a>
    <a class="header-link" href="/">Доставка и оплата</a>
    <a class="header-link" href="/">Контакты</a>
    <a class="header-link" href="/">Бонусы</a>
    <a class="header-link" href="/">Вакансии</a>    
    <span class="header-phone-number">
        <img src="/static/images/phone-icon.png">
        <span>+7 (495) 617-14-24</span>
        <div>c 10:00 до 23:00</div>
    </span>
    <div class="header-buttons">
            <button class="shopping-cart" id="button-js" onclick="show()">
                <span>0 ₽</span>
                <div class="white-line"></div>
                <img src="/static/images/cart.png">
            </button>
        <button class="profile-button" onclick="showAuthorizationWindow()">
            <img src="/static/images/profile-icon.png">
        </button>
    </div>
    <div class="shopping-cart-showed" id="cart">
        <img class="if-cart-is-empty" id="if-cart-is-empty-img" src="/static/images/if-cart-is-empty.png">
        <div class="empty-cart-alert" id="if-cart-is-empty-alert">Ваша корзина пуста</div>
    </div>
    <div class="authorization-window" id="authorization-window">
        <button class="close-button" onclick="closeAuthorizationWindow()"><img src="/static/images/close.png"></button>
        <div class="authorization-header">Вход в кабинет</div>
        <form method="post">
            {{ form.name.label() }}{{ form.name()}}
            {{ form.submit() }}
        </form>
    </div>
</div>
<div class="navbar-categories">
    <div class="navbar-categories-wrapper">
        <div class="phantom-logo"></div>
        <a class="navbar-categories-link" href="/">
            <img src="/static/images/pizza-icon.png">
            <div>Пицца</div>
        </a>
        <a class="navbar-categories-link" href="{{ url_for('sushi') }}">
            <img src="/static/images/sushi-icon.png">
            <div>Суши</div>
        </a>
        <a class="navbar-categories-link" href="/">
            <img src="/static/images/rolle-icon.png">
            <div>Роллы</div>
        </a>
        <a class="navbar-categories-link" href="/">
            <img src="/static/images/set-icon.png">
            <div>Сеты</div>
        </a>
        <a class="navbar-categories-link" href="/">
            <img src="/static/images/wok-icon.png">
            <div>Wok</div>
        </a>
        <a class="navbar-categories-link" href="/">
            <img src="/static/images/soup-icon.png">
            <div>Супы</div>
        </a>
        <a class="navbar-categories-link" href="/">
            <img src="/static/images/salad-icon.png">
            <div>Салаты</div>
        </a>
        <a class="navbar-categories-link" href="/">
            <img src="/static/images/dessert-icon.png">
            <div>Десерты</div>
        </a>
        <a class="navbar-categories-link" href="/">
            <img src="/static/images/drink-icon.png">
            <div>Напитки</div>
        </a>
        <a class="navbar-categories-link" href="/">
            <img src="/static/images/sale-icon.png">
            <div>Акции</div>
        </a>
    </div>
</div>
{% endblock %} 

{% block content %} 
    {% block page_content %}{% endblock %} 
{% endblock %}

<div class="phantom-footer"></div>

{% block footer %} 
<div class="footer">
    <div class="footer-wrapper">
        <img class="footer-logo" src="/static/images/footer-logo.png">
        <div class="footer-social-menu">
            <div class="footer-social-links">
                <a>О нас</a>
                <a class="mid">Доставка и оплата</a>
                <a>Контакты</a>
            </div>
            <div class="footer-social-icons">
                <a><img src="/static/images/facebook-icon.png"></a>
                <a><img src="/static/images/instagram-icon.png"></a>
                <a><img src="/static/images/vk-icon.png"></a>
            </div>
        </div>
        <div class="footer-categories-menu">
            <a class="top">Пицца</a>
            <a>Супы</a>
            <a class="top" href="{{ url_for('sushi') }}">Суши</a>
            <a>Салаты</a>
            <a class="top">Роллы</a>
            <a>Десерты</a>
            <a class="top">Сеты</a>
            <a>Напитки</a>
            <a class="top">Wok</a>
            <a>Акции</a>
        </div>
        <div class="footer-contacts">
            <div class="phone-number">+7 (495) 617-14-24</div>
            <div class="time">c 10:00 до 23:00</div>
            <div class="rights">© Рикша. Все права защищены.</div>
        </div>
    </div>
</div>
{% endblock %}
