{% extends "base.html" %} 
{% block head %}
<title>Рикша-Пицца</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css', v='1') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='sushi-style.css', v='1') }}">
<link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
<link rel="icon" href="{{ url_for('static', filename='images/favicon.ico') }}" type="image/x-icon">
<script src="../static/script.js"></script>
{% endblock %}
{% block page_content %} 

{% endblock %} 